
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

  *{
    font-family: 'Roboto', sans-serif;
  }




   
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #e0f0ff; 
}

::-webkit-scrollbar-thumb {
  background-color: #032449; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #032449; 
}